/* sticktron.com CSS */

html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #666666;
    line-height: 1.7857;
    font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
    font-style: normal;
    font-weight: 200;
	font-size: 1em;
}
body, input, textarea, select, button {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
}
a {
    color: #0088cc;
    color: #666666;
}
a:visited, a:link, a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.4em;
    font-weight: 200;
    line-height: 1.2em;
    letter-spacing: -1px;
	margin: 0;
}
h2 {
    font-size: 1.4em;
    font-weight: 200;
    line-height: 1.6em;
/*    letter-spacing: -1px;*/
    margin: 0;
}
h3 {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.8em;
    margin: 0;
}


/* Blocks */
#container {
	/*min-width: 960px;*/
	min-width: 640px;
	margin: 0 auto;
	text-align: center;
	background-color: #eee;
}

div.section {
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 144px;
	background-color: #fff;
	margin-bottom: 1px;
}

#stripe {
	min-height: 50px;
	background-color: #000;
}




/* Header Row */
#header {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
#header #goblin {
	margin: 40px 0 40px;
}
#header #goblin img {
	width: 80px;
	height: 80px;
}
#header #links {
	white-space: nowrap;
}
#header #links img {
	width:29px;
	height:29px;
	vertical-align: middle;
	margin-bottom: 4px;
	margin-right: 6px;
}
#header #links .separator {
	padding: 0 16px;
	color: #e0e0e0;
}
/**/


/* bg gradient */
.gradient {
	background: url(images/gradient.png) 50% 0% repeat-x;
	background-size: 1px 848.5px;
}



