/* sticktron.com CSS */
html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Verdana, sans-serif;
	font-size: 1em;
    font-weight: 400;
    font-style: normal;
}
body, input, textarea, select, button {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover, a:active {
 	text-decoration: underline;
}
h1 {
	margin: 0;
    font-size: 2.5em;
    font-weight: 200;
}
h2 {
	margin: 0;
    font-size: 1.5em;
    //font-size: 1.6em;
    font-weight: 200;
    //line-height: 1;
	color: #b3b3b3;
}
h3 {
	margin: 0;
	//margin-top: 100px;
    font-size: 1.1em;
    font-weight: 200;
}
p {
	margin: 1em;
}


#container {
	min-width: 800px;
	text-align: center;
}


.section {
	margin-bottom: 6px;
	padding: 50px 0;
	background-color: #1a1a1a;
    line-height: 1.5;
}
.section .icon {
	margin-bottom: 5px;
}
.section .icon img {
	width: 60px;
	height: 60px;
}
.section .screenshots {
	margin: 50px 0;
}

.oldsection {
	background-color: #202020;
}
.newsection {
	background-color: #262626;
}


/* Hero section */
#hero {
	padding-top: 20px;
	padding-bottom: 20px;
}
#hero #logo {
	margin-top: 25px;
	margin-bottom: 5px;
}
#hero #byline {
	font-size: 1.75em;
	font-weight: 200;
	color: #b3b3b3;
}
#hero #links {
	margin: 50px auto;
}
#hero #links td {
	margin: 0;
	padding: 0 32px;
	white-space: nowrap;;
}
#hero #links a {
	//font-size: 0.9em;
	font-weight: 200;
}



/* old tweaks section ------------------ */
#old table {
	margin: 50px auto 0;
}
#old table td {
	padding: 0 20px;
	width: 50%;
}
#old table td.left {
	border-right: 1px dashed #1f1f1f;
}
#old table tr.spacer {
	height: 100px;
}
#old .smallicon {
	display: inline;
	margin-right: 7px;
}
#old .smallicon img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}
#old table h1 {
	display: inline;
	font-size: 1.4em;
	vertical-align: middle;
}
#old table h2 {
	font-size: 1em;
	margin-top: 3px;
}
#old table h3 {
	font-size: 0.8em;
	margin-top: 20px;
}


/* end roll */
#mystery {
	color: #404040;
	padding: 200px 0;
}
#end {
	padding: 10px 0;
	font-size: 0.9em;
	color: #fff;
}


